.h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Baskerville", serif;
}

button {
    border-radius: 10px;
    border-style: solid;
    border-color: lavender;
    color: #000000;
    background-color: lavender;
    font-family: "Baskerville", serif;
    font-size: 18px;
}